<html>
    <form action="/city" method="post">
        <input type="text" name="city" placeholder="enter the city" required>
        <button id="data" type="submit"> submit</button>
    </form>
</html>